name: pull request from release to master
on:  
  schedule: 
    - cron: '*/10 * * * *'
jobs:
  masterPromotion:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
        with:
          ref: release
      - name: Create Pull Request
        uses: repo-sync/pull-request@v2
        with: 
            pr_title: Branch Sync - Weekly Updatedd from Release to Master
            destination_branch: main
            source_branch: release
            github_token: ${{ secrets.GITHUB_TOKEN }}
            pr_reviewer: devopscloudtrainer
